*.swp
*.swo
*.o
*.a
*.dSYM
*.so
*.dylib
*.pyc
*~
*.log
.idea*
/build
/config.*
/aclocal.m4
/autom4te.cache/
/makefile.in
/makefile.inc
/bin/
/c_api/bin/
/c_api/gpu/bin/
/tests/test
/tests/gtest/
/compile
/depcomp
/install-sh
/stamp-h1
/missing
/cmake-build-debug
/CMakeFiles